/* index.html */
:root{
    --color-backgraund:#E5E5E5;
    --color-Textos: #0A3871;
    --color-ChangTextos:#2f619e;
    --font-text:'Montserrat', sans-serif;
}

body{
    background-color: var(--color-backgraund);
    font-family: var(--font-text);    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#LogoAlura{
    display: flex;
    flex-direction: column;
    width: 100px;
    margin: 10px;
} 

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#circuloFondo{
    width: 500px;
    position: relative;
}
.title{
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 1.5rem;
    color: white;   
}

.opciones{
    position: absolute;
    text-align: center;
    width: 300px;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 0.9rem;
    color: white;   
}

.ImagenCirculoFondo{
    width: 700px;
    overflow: hidden;
    position: relative;
}

.textoFinal{
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 1.5rem;
    color: white;   
}

#botones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btnIniciarJuego{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-text);
    font-size: 15px;
    background: var(--color-Textos);
    color: var(--color-backgraund);
    border-radius: 11px;
    width: 150px;
    height: 30px;
    margin: 5px;
    border-color: var(--color-backgraund);
}

#btnIniciarJuego:hover{
    font-family: var(--font-text);
    font-size: 20px;
    background: var(--color-ChangTextos);
    color: var(--color-backgraund);
    border-radius: 11px;
    width: 155px;
    height: 35px;
    margin: 5px;
    border-color: var(--color-backgraund);
}

#btnAgregarPalabra{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-text);
    font-size: 15px;
    background: var(--color-Textos);
    color: var(--color-backgraund);
    border-radius: 11px;
    width: 190px;
    height: 30px;
    margin: 5px;
    border-color: var(--color-backgraund);
}

#btnAgregarPalabra:hover{
    font-family: var(--font-text);
    font-size: 20px;
    background: var(--color-ChangTextos);
    color: var(--color-backgraund);
    border-radius:11px;
    width: 230px;
    height: 35px;
    margin: 5px;
    border-color: var(--color-backgraund)
}



.ContainarImgBoton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Img_Container{
    display:flex;
    
}

.botonparaIrJuego{
    display: flex;
    justify-content: center;
}


/*palabraNuevas.html*/



#circuloPalabraNueva{
    width: 600px;
    overflow: hidden;
    position: relative;
}
    


#cincoPalabras{
    width: 181px;
    height: 30px;
    position: flex;
    top:50%;
    left: 50%;
    font-size: 1rem;
    color: var(--color-Textos);   
    text-align: initial;
}
     

#anadir{
    position: flex;
    bottom: 10px;
    align-items: center;
    justify-content: center;
    font-family: var(--font-text);
    font-size: 15px;
    background: var(--color-Textos);
    color: var(--color-backgraund);
    border-radius: 10px;
    width: 160px;
    height: 30px;
    margin: 5px;
    border-color: var(--color-backgraund);   
}

#anadir:hover{
    font-family: var(--font-text);
    font-size: 20px;
    background: var(--color-ChangTextos);
    color: var(--color-backgraund);
    border-radius: 10px;
    width: 220px;
    height: 35px;
    margin: 5px;
    border-color: var(--color-backgraund);
}



/* Juego Ahorcado dibujarLineass continuas */

#btnNuevoJuego{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-text);
    font-size: 15px;
    background: var(--color-Textos);
    color: var(--color-backgraund);
    border-radius: 10px;
    width: 160px;
    height: 30px;
    margin: 5px;
    border-color: var(--color-backgraund);
}

#btnNuevoJuego:hover{
    font-family: var(--font-text);
    font-size: 20px;
    background: var(--color-ChangTextos);
    color: var(--color-backgraund);
    border-radius: 10px;
    width: 220px;
    height: 35px;
    margin: 5px;
    border-color: var(--color-backgraund);
}

#btnDesistir{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-text);
    font-size: 15px;
    background: var(--color-Textos);
    color: var(--color-backgraund);
    border-radius: 10px;
    width: 160px;
    height: 30px;
    margin: 5px;
    border-color: var(--color-backgraund);
}

#btnDesistir:hover{
    font-family: var(--font-text);
    font-size: 20px;
    background: var(--color-ChangTextos);
    color: var(--color-backgraund);
    border-radius: 10px;
    width: 230px;
    height: 35px;
    margin: 5px;
    border-color: var(--color-backgraund)
}

.containerJuegoCanvas{
    width: 600px;
    height: 350px;
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
}

canvas{
    width: 700px;
    height: 400px;
}

#botonesPalabrasNuevas{
    display: flex;

}
